@import "./variables.scss";

@import url('//fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}