$primary: #4D4382;
$primary-darker: #453C75;

$secondary:  #252525;
$secondary-light: #303030;

$highlight-blue: #299EC3;
$highlight-red: #EE6151;
$highlight-green: #84C14F;
$highlight-lightBlue: #5DCFF3;
$highlight-yellow: #FCC44D;
$highlight-gold: #A99765;

$background: #EEEEEE;

$font_color: #FFFFFF;
$font_color-blue: #3677B5;

$content_width: 940px;